<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light text-white"  style="background-color:#ae252c;">
            <div class="container">
                <a href="#" routerLink="/" class="logo mr-5">
                    <img height="75px" class='' src="/assets/images/foods/logo.jpg" alt="">
                </a>
                <ul class="navbar-nav ml-5 mr-5">
                    <!-- Logo -->
                    <li class="nav-item mt-3">
                        <a href="#" class="nav-link text-white" style="font-size:18px">
                            <b>Trang Chủ</b>
                        </a>
                    </li>
                    <li class="nav-item mt-3 ml-4">
                        <a href="#" class="nav-link text-white" style="font-size:18px">
                            <b>Giới Thiệu</b>
                        </a>
                    </li>
                    <li class="nav-item mt-3 ml-4">
                        <a href="#" class="nav-link text-white" style="font-size:18px">
                            <b>Thực đơn</b>
                        </a>
                    </li>
                    <li class="nav-item mt-3 ml-4">
                        <a href="#" class="nav-link text-white" style="font-size:18px">
                            <b>Cửa hàng</b>
                        </a>
                    </li>
                    <li class="nav-item mt-3 ml-4 mr-4">
                        <a href="#" class="nav-link text-white" style="font-size:18px">
                            <b>Tuyển dụng</b>
                        </a>
                    </li>
                </ul>

                <div class="navigation">
                    <div *ngIf="authService.isLoggedIn; else loginLink" class="menu-item">
                        <a href="#" (click)="logout()">Đăng xuất</a>
                    </div>
                    <ng-template #loginLink>
                        <div class="menu-item">
                            <a href="#" routerLink="/login">Đăng nhập</a>
                        </div>
                    </ng-template>
                    <div class="menu-item">
                        <a href="#" routerLink="/cart-page">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="cart-text">Cart</span>
                            <span  class="cart-count">{{ cartItemCount }}</span>
                        </a>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>